.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

@media (min-width: 400px) and (min-height: 400px) {
  html {
      font-size: 20px;
  }
}

@media (min-width: 500px) and (min-height: 500px) {
  html {
      font-size: 30px;
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  html {
      font-size: 40px;
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  html {
      font-size: 50px;
  }
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}

.button {
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25%;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.button.wide {
  width: 50%;
}

.button button {
  background-color: #e0e0e0;
  border: 0;
  font-size: 1.5rem;
  margin: 0 1px 0 0;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 0;
}

.button button:hover {
  background-color: #c7c7c7;
}

.button:last-child button {
  margin-right: 0;
}

.button.orange button {
  background-color: #f5923e;
  color: white;
}

.button.orange button:hover {
  background-color: #da8235;
}

.button-panel {
  background-color: #858694;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.button-panel>div {
  width: 100%;
  margin-bottom: 1px;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -ms-flexbox;
  display: flex;
}

.display {
  background-color: #858694;
  color: white;
  text-align: right;
  font-weight: 200;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

.display>div {
  font-size: 2.5rem;
  padding: 0.2rem 0.7rem 0.1rem 0.5rem;
}